
<!DOCTYPE html>
<html lang="en">
<head>
    <title>FitEx</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../../public/css/vazir.css">
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss/dist/tailwind.min.css" />
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/bootstrap-rtl.min.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400i,700" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="اپلیکیشن ورزشی فیتکس تمامی نیاز های علمی و تخصصی شما در مورد تمرینات ورزشی را پشتیبانی میکند. ">

</head>
<body class="text-gray-700 bg-white" style="font-family: 'Source Sans Pro', sans-serif">
<!-- index.html -->

<nav>
    <div class="container mx-auto px-6 py-2 flex justify-between items-center">
        <a class="font-bold text-2xl lg:text-4xl  text-secondary"  href="https://fitexapp.ir/">
            fitexapp.ir
        </a>
        <!--<div class="block lg:hidden">-->
            <!--<button class="flex items-center px-3 py-2 border rounded text-gray-500 border-gray-600 hover:text-gray-800 hover:border-teal-500 appearance-none focus:outline-none">-->
                <!--<svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">-->
                    <!--<title>فیتکس</title>-->
                    <!--<path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />-->
                <!--</svg>-->
            <!--</button>-->
        <!--</div>-->
        <div class="hidden lg:block">
            <ul class="inline-flex">
                <li><a class="px-4 font-bold  text-secondary" href="/">مجله</a></li>
                <li><a class="px-4 font-bold hover:text-gray-800  text-secondary" href="https://fitexapp.ir/connectWithUs">تماس با ما</a></li>
                <li><a class="px-4 font-bold hover:text-gray-800  text-secondary" href="https://fitexapp.ir/Help">آموزش ها</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="py-10" style="background: linear-gradient(90deg, #667eea 0%, #764ba2 100%)"
>
    <div class="container mx-auto  ">
        <h2 class="text-5xl font-bold mb-2 text-white d-flex justify-content-center">
            FitEx
        </h2>
        <h2 class="text-4xl  text-white  font-bold mb-3 d-flex  justify-content-center">
         امروز با فیتکس تمرین کن!
        </h2>
<div class="d-flex justify-content-center">
    <button class=" bg-white font-bold rounded-full py-4 px-8 shadow-lg uppercase tracking-wider  ">
        <a href="https://github.com/fitexapp/app/releases/download/latest/fitex.apk" class="text-decoration-none  text-secondary" href="https://github.com/fitexapp/app/releases/download/latest/fitex.apk">  دانلود کنید</a>
    </button>
</div>

    </div>
</div>

<section class="container mx-auto px-6 p-10">
    <h2 class="text-4xl font-bold text-center text-gray-800 mb-8">
        ویژگی ها
    </h2>
    <div class="flex items-center flex-wrap mb-20">
        <div class="w-full md:w-1/2">
            <h4 class="text-3xl text-gray-800 font-bold mb-3">بخش تمرینات</h4>
            <p class="text-gray-650 text-2xl  mb-8"> فیتنس یه طرز تفکر و سبک زندگیه , به سادگی حرکات و تمریناتی که به تجهیزات خاصی احتیاج ندارن رو بهتون آموزش میدیم</p>
        </div>
        <div class="w-full md:w-1/2">
            <img src="https://mag.fitexapp.ir/undraw_healthy_habit_bh5w.png" alt="Monitoring" />
        </div>
    </div>

    <div class="flex items-center flex-wrap mb-20">
        <div class="w-full md:w-1/2">
            <img src="https://mag.fitexapp.ir/undraw_fitness_tracker_3033.png" alt="Reporting" />
        </div>
        <div class="w-full md:w-1/2 pl-10">
            <h4 class="text-3xl text-gray-800 font-bold mb-3">بخش برنامه های تمرینی</h4>
            <p class="text-gray-650 text-2xl  mb-8">ما بهتون برنامه های منظم تمرینی میدیم و از سطوح مبتدی تا متوسط و پیشرفته کنارتون هستیم</p>
        </div>
    </div>

    <div class="flex items-center flex-wrap mb-20">
        <div class="w-full md:w-1/2">
            <h4 class="text-3xl text-gray-800 font-bold mb-3">بخش مجله ورزشی ما</h4>
            <p class="text-gray-650 text-2xl  mb-8">بطور منظم مطالب بسیار مفیدی درباره سلامت , تناسب اندام و تغذیه واستون قرار میدیم</p>
        </div>
        <div class="w-full md:w-1/2">
            <img src="https://mag.fitexapp.ir/undraw_tabs_jf82.png" alt="Syncing" />
        </div>
    </div>
</section>
<section class="bg-gray-100">
    <div class="container mx-auto px-6 py-20">
        <h2 class="text-4xl font-bold text-center text-gray-800 mb-8">
            نکات بیشتر
        </h2>
        <div class="flex flex-wrap">
            <div class="w-full md:w-1/3 px-2 mb-4">
                <div class="bg-white rounded shadow py-2">
                    <p class="text-gray-800 text-base px-6 mb-5"> برنامه های تمرینی ما همه روزه در اپلیکیشن به روز میشوند, مهم نیست از کجا شروع میکنید, ما به شما کمک میکنیم به اهداف خود برسید.</p>
                    <p class="text-gray-500 text-xs md:text-sm px-6">فیتکس</p>
                </div>
            </div>
            <div class="w-full md:w-1/3 px-2 mb-4">
                <div class="bg-white rounded shadow py-2">
                    <p class="text-gray-800 text-base px-6 mb-5">اگه جزو افرادی هستین که وقت و فرصت کافی واسه ورزش کردن در باشگاه ها رو ندارین یا بدنبال راه حل سریع تر و بدون احتیاج به تجهیزات خاص هستین , اپلیکیشن ما دقیقا واسه ی شما طراحی شده.</p>
                    <p class="text-gray-500 text-xs md:text-sm px-6">فیتکس</p>
                </div>
            </div>
            <div class="w-full md:w-1/3 px-2 mb-4">
                <div class="bg-white rounded shadow py-2">
                    <p class="text-gray-800 text-base px-6 mb-5"> ما توی مجله ورزشیمون واستون آخرین مطالب و مقالات تخصصی ورزش و سلامت و حتی تغذیه رو گرد آوری میکنیم. </p>
                    <p class="text-gray-500 text-xs md:text-sm px-6">فیتکس</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section style="background-color: #667eea">
    <div class="container mx-auto px-6 text-center py-12 ">
        <h2 class=" text-4xl font-bold text-center text-white ">
            لینک های دانلود
        </h2>
        <h3 class="my-3 text-2xl text-white">
به ندای بدنت گوش کن       </h3>
        <button class=" bg-white font-bold rounded-full py-4 px-8 shadow-lg uppercase tracking-wider  ">
            <a href="https://github.com/fitexapp/app/releases/download/latest/fitex.apk" class="text-decoration-none text-secondary" href="https://github.com/fitexapp/app/releases/download/latest/fitex.apk">  دانلود کنید</a>
        </button>
    </div>
</section>
</body>
</html>
