<div class="row pt-3 justify-content-center">
    <div class="col-8">
        <div class="card card-default">
            <div class="card-header"><h5> فعالسازی</h5></div>
            <div class="card-title">Registration closes in <span id="timer">05:00<span> minutes!</div>
            <div class="card-body">
                <form id="activate-form" class="form-horizontal" role="form" method="POST"  novalidate>
                    <div class="form-group">
                        <label for="code" class="control-label">کد فعالسازی</label>
                        <input id="code" type="text" class="form-control" name="o_code" value="">
                    </div>

                    <!-- <div class="form-group">
                        recaptcha
                    </div> -->

                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">
                            فعالسازی
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>