
<div class="row pt-3 mt-5 justify-content-center">
    <div class="col-8">
        <div class="card card-default" style="margin-top: 50px">
            <div class="card-header"><h5>ورود</h5></div>
            <div class="card-body">

                <form class="form-horizontal" role="form" method="POST" action="/auth/login" novalidate>

                    <%- include(viewPath('layouts/error-messages')) -%>

                    <div class="form-group">
                        <label for="email" class="control-label">آدرس ایمیل</label>
                        <input id="email" type="email" class="form-control" name="email" value="<%= old('email') %>" required autofocus="">
                    </div>


                    <div class="form-group">
                        <label for="password" class="control-label">پسورد</label>
                        <input id="password" type="password" class="form-control" name="password" value="<%= old('password') %>" required>
                    </div>

                    <div class="form-group">
                        <div class="checkbox">
                            <input type="checkbox" name="remember"> یادآوری ورود
                            <label>
                            </label>
                        </div>
                    </div>


                    <% /* %>    <div class="form-group">
                        <%- recaptcha %>
                    </div>
                    <% */ %>





                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">
                            ورود
                        </button>
                        <a href="/auth/google" class="btn btn-danger">ورود با اکانت گوگل</a>
                        <a class="btn btn-link" href="/auth/password/reset">
                            رمز عبور را فراموش کردم!
                        </a>
                    </div>

                </form>


            </div>
        </div>
    </div>
</div>
