!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>اپلیکیشن فیتکس </title>

  <link rel="stylesheet" href="css/all.css" />
  <link rel="stylesheet" href="css/bootstrap.min.css" />
  <link rel="stylesheet" href="css/bootstrap-rtl.min.css" />
  <link rel="stylesheet" href="css/mdb.min.css" />
  <link rel="stylesheet" href="css/multi-range.min.css" />
  <link rel="stylesheet" href="css/vazir.css" />
  <link rel="stylesheet" href="css/style.css" />
</head>

<body>
<header class="header-landing">

  <nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar landing-navbar text-center">
    <div class="container">
      <a class="navbar-brand" href="/"><img src="img/fitex.jpg" class="img-fluid" alt="لوگوی فیتکس"></a>

      <button class="navbar-toggler" type="button" data-toggle="collapse"
              data-target="#navbarSupportedContent-7" aria-controls="navbarSupportedContent-7"
              aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent-7">
        <ul class="navbar-nav ml-auto smooth-scroll">
          <li class="nav-item active">
            <a class="nav-link" href="/">خانه <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#feture">ویژگی ها</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#program">برنامه ها</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https:/mag.fitexapp.ir/"> مجله سایت</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https:/mag.fitexapp.ir/about-us"> درباره ما </a>
          </li>
        </ul>

      </div>

    </div>
  </nav>






  <div class="">

    <%- body %>

    <footer class="page-footer stylish-color-dark text-center text-md-left mt-0 pt-4">


      <div class="container">


        <div class="row text-center text-md-left mt-3 pb-3 ">


          <hr class="w-100 clearfix d-md-none">



          <hr class="w-100 clearfix d-md-none">



          <hr class="w-100 clearfix d-md-none">

          <!-- Fourth column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3 text-center">
            <h6 class="text-uppercase mb-4 font-weight-bold">تماس با ما</h6>
            <p>
              <!--<i class="fas fa-home mr-3"></i> : لرستان-خرم آباد-میدان جهادگران</p>-->
            <p>
              <i class="fas fa-envelope mr-3"></i> : fitexapp@gmail.com</p>
            <p>
              <i class="fas fa-phone mr-3"></i> پاسخگوی شما هستیم</p>

          </div>


          <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3 text-center">
            <h6 class="text-uppercase mb-4 font-weight-bold">درباره ما</h6>اپلیکیشن فیتکس به شما اموزش نکات و
            حرکات ورزشی رو میده و بهتون برنامه میده که راحت بتونید توی خونه خودتون با برنامه تمرین کنید</p>
            <a href="https:/mag.fitexapp.ir/about-us" class="text-dark">بیشتر بدونید!</a>
          </div>


        </div>


        <hr>

        <div class="row py-3 d-flex align-items-center flex-column text-center ">

          <!-- Grid column -->
          <div class="col-md-12 d-flex justify-content-center ">

            <!-- Copyright -->
            <p class="text-center text-md-left white-text"> © تمام حقوق برای <a href="/"
                                                                                class="text-dark">FitexApp</a> محفوظ است

            </p>


          </div>

          <div class="col-md-12 d-flex justify-content-center">

            <!-- Social buttons -->
            <div class="social-section text-center text-md-left">
              <ul class="list-unstyled list-inline">
                <li class="list-inline-item mx-0">
                  <a class="btn-floating btn-sm rgba-white-slight mr-xl-4">
                    <i class="fab fa-facebook-f"></i>
                  </a>
                </li>
                <li class="list-inline-item mx-0">
                  <a class="btn-floating btn-sm rgba-white-slight mr-xl-4">
                    <i class="fab fa-twitter"></i>
                  </a>
                </li>
                <li class="list-inline-item mx-0">
                  <a class="btn-floating btn-sm rgba-white-slight mr-xl-4">
                    <i class="fab fa-google-plus-g"></i>
                  </a>
                </li>
                <li class="list-inline-item mx-0">
                  <a class="btn-floating btn-sm rgba-white-slight mr-xl-4">
                    <i class="fab fa-instagram"></i>
                  </a>
                </li>
              </ul>
            </div>
            <!-- Social buttons -->

          </div>
          <!-- Grid column -->

        </div>

      </div>

    </footer>


    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/mdb.min.js"></script>
    <script src="js/multi-range.min.js"></script>
    <script src="js/main.js"></script>


<!-- 
  <script src="/public/js/jquery-3.3.1.min.js"></script>
  <script src="/js/popper.min.js"></script> -->
  <!-- <script src="/public/css/bootstrap.min.css"></script> -->
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-145305000-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-145305000-1');
  </script>

  <%- script %>
</body>

</html>