body {
    box-sizing: border-box;
    font-weight: normal;
    /*background: #84aab2;*/
    line-height: 1.8rem;
    font-size: 20px;
    margin: 0;
    padding: 0;
    /*font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",*/
    /*"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",*/
    /*sans-serif;*/
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    direction: rtl;
    font-family: IRANSansMobile;
    /*font-family: 'Vazir' , Vazir , Tahoma , Arial ,sans-serif ;*/
    font-size: 1rem;
    overflow-x:hidden;


}


h1,
h2,
h3,
h4,
h5,
h6 {
    color: #ffffff;
}

/*
*    Navigation
*/
.padBot{
    margin-bottom: -4.4% !important;
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.centerText {
    text-align: center;

}
a{
    text-decoration: none;
    font-weight: bold;
    padding: 0 0 0.2rem 0;
}
.fontColor p{
    color: rgba(255, 255, 255, 0.9) !important;
}
.navColor{
    background: linear-gradient(-225deg , #16edb3, rgba(20, 55, 90, 0.62)) !important;

}
.font {
    color: #325a69 !important; ;
}
.padding {
    padding-top: 10%;
    padding-left : 20%;
    padding-right : 20%;
}

.backColor{
    /*background-image: linear-gradient(-225deg, #473B7B 0%, #3584A7 51%, #30D2BE 100%);*/
    /*background-image: linear-gradient(-225deg, #231557 0%, #44107A 29%, #FF1361 67%, #FFF800 100%);*/
    /*background-image: linear-gradient(-225deg, #473B7B , #3584A7 , #30D2BE );*/
    background: linear-gradient(90deg, rgb(22, 237, 179), rgb(20, 55, 90))!important;
    /*background: linear-gradient(90deg, rgb(0, 255, 222), rgb(8, 5, 30)) !important;*/

}
.backColor2{
    background-image: linear-gradient(-225deg, #3D4E81 0%, #5753C9 48%, #6E7FF3 100%);
}
.backColor3{
    background-image: linear-gradient(-225deg, #A445B2 0%, #D41872 52%, #FF0066 100%);
}

.backColor4{
    background-image: linear-gradient(-225deg, #473B7B 0%, #3584A7 51%, #30D2BE 100%);
}
p{
    color: #325a69 ;


}
.Features p{
    color: #2e4e5c;
}
.Features h1 , h3{
    color: #2e4e5c !important;
}
.navigationResponsive {
    display:flex;
    z-index:99;
    overflow: hidden;
    opacity:1;
    flex-direction:column;
    justify-content:space-between;
    background: linear-gradient(90deg, rgb(22, 237, 179), rgb(20, 55, 90))!important;

}
.navigationResponsive a{
    color:white;
    font-size: medium;
}

.navigation {
    display: flex;
    padding: .1%;
    z-index: 99;
    font-size: 16px !important;
    width: 100%;
    position: fixed;
    /*justify-content: space-between;*/
}
.navigationXS {
    display: flex;

    padding: .7%;
    z-index: 99;
    font-size: 16px !important;
    width: 100%;
    /*justify-content: space-between;*/
}


.navigation .logo {
    background-color: #333;
}

.navigation a  {
    color:white;


    font-size: medium;
}
.navigationXS a  {
    color:white;
    font-size: medium;
}
.navigation span  {
    color:white;
    font-size: medium;
    text-decoration: none;
}
.navigationXS span  {
    color:white;
    font-size: medium;
    text-decoration: none;
}

.navigation a:hover {
    opacity: .8;
}
.navigationXS a:hover {
    opacity: .8;
}

.navigation .nav__right , .navigation .nav__left {
    display: flex;
}
.navigationXS .nav__right , .navigationXS .nav__left {
    display: flex;
}

.navigation .nav__right li , .navigation .nav__left li {
    list-style: none;
    padding: 12px 20px;
}
.navigationXS .nav__right li , .navigationXS .nav__left li {
    list-style: none;
    padding: 12px 20px;
}


/*Header*/

.Header{
    height: 93vh;
}
.title{
    font-size:32px;
    text-align: center;

}
.paddiingTop{
    padding-top: 4%;
}.paddingTop{
     padding-top: 1.5%;
 }
.paddingBottom{
    padding-bottom: 4%;
}

/*Featurs*/
.Features{
    height: auto;

}
.Features h1 ,h4  {
    color: #ffffff !important;
}

/*Coles*/
.coles  h3 ,p {
    color: #2e4e5c;
}
.colpic{
    height:60%;
    width:60%;
}
.Margin{
    text-align: center;

}
.coles{
    height:100vh;
}
.colesRow{
    padding: 6%;
}


/*Dnl*/
.Dwnl{
    /*background: #84aab2;*/
    /*padding-bottom: 13%;*/
    position: relative;
    outline: 10px solid white;
}.margintop{

     position: absolute;
     bottom: -4%;
 }
.paddingright{
    float:left;
}
.floatleft{
    float:right;
}
.paddingtop{
    padding-top: 5%;
}
.Dwnl h1 h5 {
}
.h1useh5{

    padding-top: 2%;
}
.h5useh1{

}
/*fOOTER*/
.footer {
    /*padding-bottom: 5% !important;*/
    /*background: #84aab2;*/  color: white;
    padding: 20px 40px;
    display: flex;
}

.footer hr {
    border: 1px solid rgba(255,255,255,0.2);
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 15%;
}


/*Socials*/
.socials ul{
    list-style-type: none;
    text-align: center;
    padding-right: 10px;
    padding-top:5%;
    padding-bottom: 1%;
    /* position:relative;*/
    width:100%;

}
.socials ul li{
    display:inline-block;
    pdding-right:10px;
}
.socials ul li a{

    text-align: center;
    text-decoration: none;
    margin-left: 50px;
}

.socials ul li a img{
    width:30px;
    height:30px;
}
.wave{
    background-color: #fff;
    height: auto;
    bottom: -5%;
    /* background-image: url(image/wave.png);*/
    /*height: 334px;*/

}
.Dnl{

    text-align: center;
}
/*
 *  Comment Section
 */

.comment-section {
    display: flex;

    background-color: #f5f5f5;
}

.comment-section__head {
    background: url(../image/Webp.net-compress-image.jpg) no-repeat 50%;
    background-size: cover;
    display: flex;
    align-items: center;
    text-align: center;
    color: white;
    flex-basis: 40%;
    position: relative;
}

.comment-section__head::after {
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,.4);
}

.comment-section__head .content {
    z-index: 1;
    padding-right: 2%;
    padding-left: 2%;
    line-height: 1.8;
}

.comment-section__head .content h3 {
    font-weight: 400;
    font-size: 2.2em;
}

.comment-section__head .content p {
    font-size: 1em;
    margin-top: 10px;
    margin-bottom: 10px;
}

.comment-section__head .content a {
    font-size: 1.2em;
    border-bottom: 1px solid;
    color: white;
}

.comment-section__content {
    display: flex;
    flex-basis: 60%;
    flex-wrap: wrap;

}

.comment-box {
    background-color: white;
    border: 1px solid rgba(0,0,0,0.1);
    flex-basis: calc(40%);
    margin: 10px;
    padding: 20px;
}

.comment-box hr {
    border: 1px solid rgba(0,0,0,0.1);
    margin-top: 15px;
    margin-bottom: 15px;
}

.comment-box .comment-box__title {
    color: #333;
    font-size: 1.3em;
}

.comment-box .comment-box__description {
    line-height: 1.5;
}

.white {
    color: whitesmoke !important;
}
@media only screen and (max-width : 767px ) {

    .comment-section {
        flex-direction: column;
    }

    .comment-section__head .content {
        margin: 15px;
    }


}

@media only screen and (max-width : 500px ) {



    .comment-box {
        flex-basis: calc(100% - 20px);
    }
}

/*button*/
.hbtn {
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    overflow: hidden;
    padding: 8px 20px;
    margin: 0px 3px 6px;
    text-align: center;
    border: 2px solid rgb(255, 255, 255);
    text-decoration: none;
    color: rgb(255, 255, 255);
    white-space: nowrap;
    z-index: 0;
}


.hbtn i {
    padding-right: 8px;
}


.hb-fill-middle-bg-br::before {
    position: absolute;
    content: "";
    background: rgb(255, 255, 255);
    transition-duration: 0.3s;
    z-index: -1;
    top: auto;
    right: auto;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 0px;
    opacity: 1;
    border: 2px solid rgb(255, 255, 255);
}


.hb-fill-middle-bg-br:hover::before {
    width: 100%;
    height: 50%;
    opacity: 1;
}


.hb-fill-middle-bg-br:hover {
    color: rgb(50, 90, 105);
    background: rgb(255, 255, 255);
    transition: all 0.3s ease 0s;
}


.hb-fill-middle-bg-br::after {
    position: absolute;
    content: "";
    background: rgb(255, 255, 255);
    transition-duration: 0.3s;
    z-index: -1;
    top: 0px;
    right: auto;
    bottom: auto;
    left: 0px;
    width: 100%;
    height: 0px;
    opacity: 1;
    border: 2px solid rgb(255, 255, 255);
}


.hb-fill-middle-bg-br:hover::after {
    height: 50%;
}


.hbor4 {
    border-width: 4px;
}


.hbor4::before {
    border-width: 4px !important;
}


.hpill {
    border-radius: 50px;
}
.radius {
    border-radius: 25px;
}


.hpad2 {
    padding: 12px 24px !important;
}

.hbtn {
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    overflow: hidden;
    padding: 8px 20px;
    margin: 0px 3px 6px;
    text-align: center;
    border: 2px solid rgb(255, 255, 255);
    text-decoration: none;
    color: rgb(255, 255, 255);
    white-space: nowrap;
    z-index: 0;
}


.hbtn i {
    padding-right: 8px;
}


.hb-fill-left-br::before {
    position: absolute;
    content: "";
    background: rgb(255, 255, 255);
    transition-duration: 0.3s;
    z-index: -1;
    top: 0px;
    right: 0px;
    bottom: auto;
    left: auto;
    width: 0px;
    height: 100%;
    opacity: 1;
    border: 2px solid rgb(255, 255, 255);
}


.hb-fill-left-br:hover::before {
    width: 100%;
    height: 100%;
    opacity: 1;
}


.hb-fill-left-br:hover {
    color: rgb(50, 90, 105);
    background: rgb(255, 255, 255);
    transition: color 0.3s ease 0s, background 0s ease 0.3s;
}


.hpad2 {
    padding: 12px 24px !important;
}


.hbor4 {
    border-width: 4px;
}


.hbor4::before {
    border-width: 4px !important;
}


.hpill {
    border-radius: 50px;
}
.hbtn {
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    overflow: hidden;
    padding: 8px 20px;
    margin: 0px 3px 6px;
    text-align: center;
    border: 2px solid rgb(255, 255, 255);
    text-decoration: none;
    color: rgb(255, 255, 255);
    white-space: nowrap;
    z-index: 0;
}


.hbtn i {
    padding-right: 8px;
}


.hb-fill-right-br::before {
    position: absolute;
    content: "";
    background: rgb(255, 255, 255);
    transition-duration: 0.3s;
    z-index: -1;
    top: 0px;
    right: auto;
    bottom: auto;
    left: 0px;
    width: 0px;
    height: 100%;
    opacity: 1;
    border: 2px solid rgb(255, 255, 255);
}


.hb-fill-right-br:hover::before {
    width: 100%;
    height: 100%;
    opacity: 1;
}


.hb-fill-right-br:hover {
    color: rgb(50, 90, 105);
    background: rgb(255, 255, 255);
    transition: color 0.3s ease 0s, background 0s ease 0.3s;
}


.hpad2 {
    padding: 12px 24px !important;
}


.hbor4 {
    border-width: 4px;
}


.hbor4::before {
    border-width: 4px !important;
}


.hpill {
    border-radius: 50px;
}
.hbtn {
    position: relative;
    box-sizing: border-box;
    display: inline-block;
    overflow: hidden;
    padding: 8px 20px;
    margin: 0px 3px 6px;
    text-align: center;
    border: 2px solid rgb(255, 255, 255);
    text-decoration: none;
    color: rgb(255, 255, 255);
    white-space: nowrap;
    z-index: 0;
}.hbtn1 {
     position: relative;
     box-sizing: border-box;
     display: inline-block;
     overflow: hidden;
     padding: 8px 20px;
     margin: 0px 3px 6px;
     text-align: center;
     border: 2px solid rgb(22, 237, 179);
     text-decoration: none;
     color: rgb(37, 207, 237);
     white-space: nowrap;
     z-index: 0;
 }


.hbtn i {
    padding-right: 8px;
}


.hb-border-top-br3::after {
    border-radius: 50px;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    border: 2px solid rgb(255, 255, 255);
    z-index: 2;
    margin: 0px;
    top: 0px;
    right: 0px;
    border-bottom-width: 2px;
    transition: border-bottom-width 0.1s ease 0.2s, height 0.2s ease 0.1s, width 0.2s ease 0s, margin 0.2s ease 0s;
}


.hb-border-top-br3 {
    position: relative;
    transition-duration: 0.3s;
    overflow: visible;
    box-sizing: border-box;
    border: none;
    padding: 10px 22px;
}


.hb-border-top-br3:hover::after {
    width: 60%;
    height: 0px;
    border-width: 2px 2px 0px;
    margin: 0px 20%;
    transition: border-bottom-width 0.1s ease 0s, height 0.2s ease 0.1s, width 0.2s ease 0.2s, margin 0.2s ease 0.2s;
}


.hpad4 {
    padding: 4px 15px !important;
}


.hbor4 {
    border-width: 4px;
}


.hbor4::before {
    border-width: 4px !important;
}


.hpill {
    border-radius: 50px;
}
/*buttons finished*/
.ScrollUpButton__Container{
    background: linear-gradient(-225deg , #16edb3, rgba(20, 55, 90, 0.62)) !important;

    border-radius: 50%;
    border: 3px solid #fcfaff;
    /*height: 40px;*/
    position: fixed;
    bottom: 15px;
    width: 45px;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-transition-property: opacity, right;
    transition-property: opacity, right;
    cursor: pointer;
    opacity: .5;
    right: -75px;
    text-align: center;
    z-index: 10;
}

.ScrollUpButton__Toggled{
    opacity: 1;
    /*right: 20px;*/


}