<!--Jumbotron Header-->

<!--<div class="view intro-2 height ">-->
<!--<div class="full-bg-img ">-->
<!--<div class="mask rgba-black-strong flex-center">-->
<!--<div class="container ">-->
<!--<div class=" ">-->
<!--<header class="jumbotron hero-spacer text-dark text-center  ">-->
<!--<h3 class=" font-weight-bold shadow-sm">به مجله فیتکس خوش آمدید!</h3>-->
<!--<h6 class="pt-1 ">مطالب به روز و کاربردی برای بهبود سبک زندگی شما</h6>-->
<!--</header>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->





<div class="about-us-section z-depth-1">
    <div class="text-center ">
        <h2>درباره فیتکس</h2>
        <p>گروه نرم افزاری فیتکس یک گروه استارتاپی میباشد که با هدف بهبود شرایط سلامتی و تندرستی مردم اقدام به تولید نرم
            افزاری کرد تا مردم عزیز ایران بتوانند با استفاده از ان به سلامت و تندرستی خود توجه بیشتری داشته باشند</p>
        <p>فعالیت فیتکس در قالب اموزشی و ورزشی میباشد که بخش مجله سایت به شما نکات آموزشی در زمینه های سلامت و تندرستی
            رو آموزش میده تا بتونید دانش خودتون رو در زمینه سلامتی افزایش بدید و شیوه زندگی سالم و درستی را داشته باشید
        </p>
        <p>
            بخش ورزشی فیتکس شامل ارائه <strong> برنامه های ورزشی برای تمرین در خانه و آموزش حرکات ورزشی </strong> به
            صورت کاملا اختصاصی در سطوخ مختلف برای هر سطح از ورزشکاران میباشد تا بتونید با توجه به سطح ورزشی که دارید
            برنامه مورد نظر رو انتخاب کنید و ورزش خودتونو شروع کنید و بخشی هم به عنوان <strong> اموزش حرکات ورزشی
            </strong>به صورت کاملا رایگان در اخیتارتون میزاره تا بتونید به هر شیوه ای که دوست داشتید از نرم افزار
            استفاده کنید همچین <a href="https://cafebazaar.ir/app/ir.fitex.app"> نرم افزار ورزش درخانه فیتکس </a>به شما
            گزارشی از میزان درصد پیرفت شما میده تا بتونید
            از از سطح خودتون در برنامه های تمرینی با خبر بشید

        </p>
    </div>
</div>